body {
    display: block;
    background-color: gainsboro;
    overflow: scroll;
    max-width: 900px;
    margin: auto;
}
article {
    display: grid;
    background-color: gray;
    grid-template-columns: auto auto auto;
    gap: 20px 20px;
    margin-top: 55px;
}    

img {
    border-radius: 20px;
    width: 100%;
    transition-duration: 0.5s;
}

img:hover {
    transition-duration: 0.4s;
    box-shadow: 2px 2px 25px 5px #000;

}