body {
    display: block;
    background-color: gainsboro;
    overflow: scroll;
    max-width: 900px;
    margin: auto;
}
article {
    columns: 3;
    margin-top: 55px;
}    
figcaption {
    background-color: gray;
    color: wheat;
    font-style: Arial;
    text-align: center;
}
figure {
    margin-top: 15px;
    border: 1px rgb(0, 0, 0) solid;
}
img {
    width: 100%;
}