:root {
    --font: "Franklin Gothic Medium"
}
h1 {
    margin-top: 60px;
    font-size: 36px;
    color:  white;
    text-align: center;
    font-family: var(--font);
    text-shadow: 0 1px 0 gray, 0 2px 0 gray,
                0 2px 0 gray, 0 3px 0 gray,
                0 3px 0 gray, 0 4px 0 gray,
                0 4px 0 gray, 0 5px 0 gray,
                0 5px 0 gray, 0 6px 0 gray,
                0 6px 0 gray, 0 7px 0 gray,
                0 20px 30px rgba(0, 0, 0, 0.5);
}
h2 {
    margin-top: 60px;
    font-size: 24px;
    color:  white;
    text-align: center;
    font-family: var(--font);
    text-shadow: 0 1px 0 gray, 0 2px 0 gray,
                0 2px 0 gray, 0 3px 0 gray,
                0 3px 0 gray, 0 4px 0 gray,
                0 4px 0 gray, 0 5px 0 gray,
                0 5px 0 gray, 0 6px 0 gray,
                0 6px 0 gray, 0 7px 0 gray,
                0 20px 30px rgba(0, 0, 0, 0.5);
}
section {
    max-width: 900px;
    margin: auto;

}
p {
    border: 1px whitesmoke;
    display: block;
    font-family: var(--font);
    color:whitesmoke;
    font-size: 20px;
    text-align: left;
    padding: 0 100px;

}
h2 {
    font-family: var(--font);
    color: white;
}

body {
    background-color: rgb(25, 25, 25);
}
