:root {
	--font: monospace;
}
body {
	background-color: #d7d8ca;
	display: flex;
	align-items: center;
	min-height: 100vh;
	margin-left: clamp(1vw, 15vw, 25rem);
	overflow: hidden;
}
nav {
	gap: 45px;
	display: flex;
	flex-direction: column;
}
a {
	font-size: clamp(1vw, 5vw, 3rem);
	font-weight: bold;
	color: rgb(26, 26, 26);
	font-family: var(--font);
	letter-spacing: 0.15em;
	padding: 0px 10px;
	text-decoration: none;
}

a:hover {
	animation: open 0.5s;
	opacity: 0.5;
}

@keyframes open {
	10% {letter-spacing: 0.30em;}
	100% {letter-spacing: 0.15em;}
}