.active {
    background-color: #3e8e41;
}
:root {
    --font: "Tahoma"
}

.topnav {
    display: flex;
    position: fixed;
    top: 0; left: 0; right: 0; z-index: 1;
    background-color: #333;
    overflow: visible;
}

.topnav a {
    font-family: Tahoma;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s ease-in;
}

.topnav a:hover {
    background-color: gray;
    color: rgb(48, 48, 48);
    transition: 0.2s ease-in;
}

/* icon csn för uppgifter pil. */
.dropbtn i:nth-child(2) {
    display: none;
}
.dropbtn i:nth-child(1) {
    display: flex;
    float: right;
    margin-left: 5px;
}
.dropbtn:hover i:nth-child(1) {
    display: none;
    float: right;
}
.dropbtn:hover i:nth-child(2) {
    display: flex;
    float: right;
    margin-left: 5px;
}
.dropdown:hover i:nth-child(2) {
    display: flex;
    float: right;
    margin-left: 5px;
}
.dropdown:hover i:nth-child(1) {
    display: none;
}

/* dropdown är en container för allt annat */
.dropbtn {
    font-family: Tahoma;
    background-color: #333;
    color: whitesmoke;
    padding: 14px 16px;
    font-size: 17px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    min-width: 118px;
    display: none;
    position: absolute;
    background: lightgray;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
} 

.dropdown-content a {
    font-family: Tahoma;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: rgb(255, 255, 255); 
}
.dropdown:hover .dropdown-content {display:block;}
.dropdown:hover .dropbtn {background-color: gray; color: rgb(15, 15, 15);}