body {
    background-color: whitesmoke;
}
h1 {
    margin-top: 5%;
    font-size: 64px;
    font-family: Arial;
    color: blueviolet;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
h2 {
    font-size: 32px;
    font-family: Arial;
    color: goldenrod;
    text-align: left;
    text-shadow: 2px 2px 2px black;
}
p {
    font-size: 24px;
    font-family: Arial;
    color: rgb(49, 34, 5);
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

#BackButton {
    font-size: 24px; 
    padding: 6px 12px;
}

.topnav {
    position: fixed;
    top: 0; left: 0; right: 0; z-index: 1;
    background-color: #333;
    overflow: visible;
}

.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s ease-in;
}

.topnav a:hover {
    background-color: grey;
    color: black;
    transition: 0.2s ease-in;
}

.topnav a.active {
    background-color: rgb(20, 200, 30);
    color: whitesmoke;
}

.polaroid img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    max-width: 50%;
    max-height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.poems h2 {
    font-size: 15px;
    color: black;
    text-shadow: 1px 1px 1px rgb(230, 230, 230);
}

.poems p {
    list-style-type: none;
    color:rgb(10, 10, 10);
    font-size: 18px;
    border: 1px black;
}

.dropbtn {
    background-color: #333;
    color: whitesmoke;
    padding: 14px 16px;
    font-size: 17px;
    border: none;
}
/* dropdown är en container för allt annat */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: lightgray;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: rgb(255, 255, 255); 
    background-color: lightgray;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}