body {
    background-color: whitesmoke;
}
h1 {
    margin-top: 5%;
    font-size: 64px;
    font-family: Arial;
    color: blueviolet;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
h2 {
    font-size: 32px;
    font-family: Arial;
    color: goldenrod;
    text-align: left;
    text-shadow: 2px 2px 2px black;
}
p {
    font-size: 24px;
    font-family: Arial;
    color: rgb(49, 34, 5);
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

#BackButton {
    font-size: 24px; 
    padding: 6px 12px;
}

.topnav {
    position: fixed;
    top: 0; left: 0; right: 0; z-index: 1;
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: grey;
    color: black;
}

.topnav a.active {
    background-color: rgb(20, 200, 30);
    color: whitesmoke;
}

img {
    float: bottom;
    max-width: 20%;
    max-height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
